:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  margin: auto;
  max-width: 1280px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

a {
  color: #89b4fa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #89b4fa;
}

.greeting {
  color: #bac2de;
  font-size: 2em;
  font-style: italic;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.flexer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  max-width: 800px;
}

.flexitem {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
}

.flexitem span {
  font-style: italic;
}

.flexitem ul {
  list-style-type: none;
}

.flexitem ul li:before {
  content:"·";
  padding-right: 5px;
  vertical-align:middle;
}

.flexitem hr {
  width: 80%;
  margin-left: 0;
}

.flexitem:nth-child(1) hr {
  color: #cba6f7;
}

.flexitem:nth-child(2) hr {
  color: #f38ba8;
}

.flexitem:nth-child(3) hr {
  color: #B4BEFE;
}

.flexitem:nth-child(4) hr {
  color: #74C7EC;
}

.flexitem:nth-child(5) hr {
  color: #F5C2E7;
}